@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --teal: #008080;
  --bg: #0a0a0a;
  --shadow: 0px 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/9.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(4px);
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Petit", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.8rem;
}

.hero p {
  font-size: 1.4rem;
  font-weight: lighter;
}

.hero a {
  color: rgb(43, 42, 42);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  color: var(--teal);
  background-color: white;
  border: 1px solid var(--teal);
}

.my-navbar {
  background-color: none !important;
  backdrop-filter: blur(4px);
}

.my-navbar a {
  color: var(--teal);
  text-shadow: var(--shadow);
}

.my-navbar a:hover {
  color: white;
}

.my-navbar .offcanvas {
  background-color: rgba(191, 190, 190, 0.7);
  backdrop-filter: blur(4px);
  height: 100vh;
}

.my-navbar .navbar-brand,
.my-navbar .offcanvas-title {
  font-family: "Rauge", cursive;
  font-size: 2rem;
  color: var(--teal);
}

.my-navbar .nav-link {
  text-transform: uppercase;
  background: none;
}

.my-navbar .tombol {
  mix-blend-mode: difference;
}

.home {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  padding-top: 13rem;
  padding-bottom: 8rem;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/blue-brush-1.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(8px);
  opacity: 0.5;
}

.home h2,
.info h2 {
  color: var(--teal);
  font-family: "Noto Nastaliq Urdu", serif;
  font-size: 2.5rem;
  text-shadow: var(--shadow);
  margin-bottom: 2rem;
}

.home h3 {
  color: #444445;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1rem;
  color: #666666;
}

.home .couple {
  margin-top: 20px;
}

.home .couple h3 {
  font-family: "Petit", cursive;
  font-size: 2.4rem;
  color: var(--teal);
}

.home .couple img {
  width: 150%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%) translateY(100px);
}

.home .heart i {
  margin: auto;
  color: red;
}

.home .container {
  position: relative;
}

.info::before {
  background: url(./img/9.jpg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a;
  background-position: center;
  z-index: -1;
  opacity: 0.5;
  filter: blur(8px);
}

.info {
  position: relative;
  color: white;
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-size: cover;
}

.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gift h2 {
  color: var(--teal);
  font-family: "Petit", cursive;
  font-size: 4.5rem;
  text-shadow: var(--shadow);
  margin-bottom: 2rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .deskripsi {
  font-size: 1rem;
  font-weight: 100;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid var(--teal);
}

.info .card-header {
  border-bottom: 1px solid var(--teal);
  font-family: "Petit", cursive;
  letter-spacing: 0.1rem;
  color: var(--teal);
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid var(--teal);
  font-size: 0.6rem;
  font-weight: 100;
}

.info a:hover {
  border: 1px solid var(--teal);
  color: var(--teal);
}

.story,
.gallery,
.rsvp,
.gift {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.story span,
.gallery span,
.gift span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gift p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: var(--teal);
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--teal);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 2px solid var(--teal);
  padding: 2rem;
  position: relative;
  border-radius: 5px;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--teal);
  border-right: 0 solid var(--teal);
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid white;
  border-right: 0 solid white;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: #f5f5f5;
}

.gallery img {
  width: 1000px;
  height: 500px;
}

.rsvp::before {
  content: "";
  background-color: #0a0a0a66;
  position: absolute;
  background-position: center;
  z-index: -1;
}

.rsvp {
  position: relative;
  background-size: cover;
  background-image: url(./img/bg3.png);
}

.rsvp p {
  margin-bottom: 5rem;
}

.rsvp button {
  background-color: var(--teal);
  color: white;
  border: 1px solid var(--teal);
}

.rsvp button:hover {
  border: 1px solid var(--teal);
  color: var(--teal);
}

.rsvp label {
  font-size: 0.9rem;
}

footer {
  padding: 3rem;
  background-color: var(--teal);
  color: black;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: white;
  text-shadow: var(--shadow);
  mix-blend-mode: difference;
  animation: rotate 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* resposive */
/* xtra lerge */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(100px);
  }
}
/* leptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 25px;
  }

  .home .heart {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }

  .timeline li .timeline-image {
    left: 11px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }

  .gallery img {
    width: 900px;
    height: 300px;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .simply-countdown > .simply-section {
    padding: 20px;
    margin: 5px;
  }

  .timeline li .timeline-image {
    width: 145px;
    height: 145px;
  }

  .gallery img {
    width: 800px;
    height: 500px;
  }
}

/* hp */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/010.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(4px);
  }

  .hero {
    position: relative;
    min-height: 100vh;
  }

  .simply-countdown > .simply-section {
    padding: 15px;
    margin: 3px;
  }

  .my-navbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .timeline li .timeline-image {
    width: 100px;
    height: 100px;
  }

  .timeline li .timeline-panel {
    width: 60%;
    transform: translateX(-10px);
  }

  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
